.card img {
    height: 18rem;
}


@media only screen and (max-width: 767px) {
    .navbar-nav {
        text-align: center;
    }
}


.home .home-img:hover {
    transform: scale(1.01);
}
.about .about-img:hover {
    transform: scale(1.01);
}
.services .service-item:hover {
    transform: scale(1.01);
}
.portfolio .card:hover {
    transform: scale(1.01);
}
.bg-glass {
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);
    /* Add box-shadow for more depth */
    box-shadow: 0px 5px 5px 5px rgba(0, 0, 0, 0.15);
    background-color: rgba(228, 228, 228, 0.30);
}

.tubelight span {
    animation: animate 3s linear;
    animation-iteration-count: 3;
    /*   display:table-cell; */
    padding: 0px 1px;
    text-shadow: 0px 0px 20px #fff, 0px 0px 30px #fff, 0px 0px 10px #fff, 0px 0px 1px #fff;
}

.tubelight span:nth-child(1) {
    animation-delay: 0s;
}

.tubelight span:nth-child(2) {
    animation-delay: 0.25s;
}

.tubelight span:nth-child(3) {
    animation-delay: 0.5s;
}

.tubelight span:nth-child(4) {
    animation-delay: 0.75s;
}

.tubelight span:nth-child(5) {
    animation-delay: 0.3s;
}

.tubelight span:nth-child(6) {
    animation-delay: 0.5s;
}

@keyframes animate {
    0%,
    15%,
    25%,
    30%,
    65%,
    95% {
        color: #fff;
        text-shadow: none;
    }
    10%,
    20%,
    31%,
    60%,
    100% {
        color: #111;
        text-shadow: 0px 0px 20px #fff, 0px 0px 30px #fff, 0px 0px 10px #fff, 0px 0px 1px #fff;
    }
}




@media only screen and (max-width: 768px) {
    .card img {
        height: 15rem;
    }
}